<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:shardingsphere="http://shardingsphere.apache.org/schema/shardingsphere/datasource"
       xmlns:sharding="http://shardingsphere.apache.org/schema/shardingsphere/sharding"
       xsi:schemaLocation="
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop.xsd
     http://shardingsphere.apache.org/schema/shardingsphere/datasource
     http://shardingsphere.apache.org/schema/shardingsphere/datasource/datasource.xsd
     http://shardingsphere.apache.org/schema/shardingsphere/sharding
     http://shardingsphere.apache.org/schema/shardingsphere/sharding/sharding.xsd
    ">

    <context:property-placeholder location="classpath:application.properties"/>

    <!--包扫描, 扫描com.cgy.sharding包下所有文件 注册beean 及启用 注解-->
    <context:component-scan base-package="com.cgy.dynamicds"/>

    <aop:aspectj-autoproxy/>
    <!--引入外部配置, 配置分离了-->

    <tx:annotation-driven />

    <!--<bean id="mybatisPlusInterceptor" class="com.baomidou.mybatisplus.extension.plugins.MybatisPlusInterceptor">
        <property name="interceptors">
            <list>
                <ref bean="paginationInnerInterceptor"/>
            </list>
        </property>
    </bean>

    <bean id="paginationInnerInterceptor" class="com.baomidou.mybatisplus.extension.plugins.inner.PaginationInnerInterceptor">
        <constructor-arg name="dbType" value="MYSQL"/>
    </bean>

    &lt;!&ndash; COUNT SQL 解析.可以没有 &ndash;&gt;
    <bean id="countSqlParser" class="com.baomidou.mybatisplus.extension.plugins.pagination.optimize.JsqlParserCountOptimize">
        <property name="optimizeJoin" value="true"/>
    </bean>

    &lt;!&ndash;集成 mybatisplus时，sqlSessionFactory 替换成 mybatisplus&ndash;&gt;
    &lt;!&ndash;<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>&ndash;&gt;
    &lt;!&ndash;数据源 引用 分片数据源&ndash;&gt;
    <bean id="sqlSessionFactory" class="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean">
        &lt;!&ndash;<property name="dataSource" ref="" />&ndash;&gt;
        <property name="typeAliasesPackage" value="com.cgy.dynamicds.entity" />
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>

        <property name="plugins">
            <array>
                <ref bean="mybatisPlusInterceptor"></ref>
                &lt;!&ndash;<bean class="com.baomidou.mybatisplus.extension.plugins.PaginationInterceptor">
                    <property name="sqlParser" ref="自定义解析类、可以没有"/>
                    <property name="dialectClazz" value="自定义方言类、可以没有"/>
                    &lt;!&ndash; COUNT SQL 解析.可以没有 &ndash;&gt;
                    <property name="countSqlParser" ref="countSqlParser"/>
                </bean>&ndash;&gt;
            </array>
        </property>

    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.cgy.dynamicds.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>-->

</beans>